use Mix.Config

config :chatz, Chatz.Repo,
  username: "postgres",
  password: "postgres",
  database: "chatz_dev",
  hostname: "localhost",
  show_sensitive_data_on_connection_error: true,
  pool_size: 10
